# Base de datos
DB_HOST=[localhost]
DB_PORT=[Puerto]
DB_USER=[DB_USER]
DB_PASSWORD=[DB_PASSWORD]
DB_NAME=[DB_NAME] # plataformaanticorrupcion

SECRET_KEY=cambia_esto_en_produccion
# python -c "from cryptography.fernet import Fernet; print(Fernet.generate_key().decode())"
ENCRYPTION_KEY=resultado_del_comando_aqui

# APScheduler
SCHEDULER_TIMEZONE=America/Bogota